{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Servidor : Ricardo Costa</h1>
    <p>Este projeto é a criação de um site de nutrição com inteligência artificial para gerar as dietas personalizadas.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.workana.com/freelancer/8262d11c8b72b829cabab4d72d12b455"><span class="glyphicon glyphicon-flash"></span> Desenvolvedor: Ricardo Costa</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/euBRASIL/CryptoREAL"><span class="glyphicon glyphicon-download"></span> Código no Github</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Este é um Portfólio on-line de Freelancer na área de TI <a href="#" class="alert-link">Aguarde em breve um Site de Dieta "inteligente" </a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Este é o meu nível de conhecimento ?</h3><br>
      <ul>
        <li> Python, JavaScript, HTML5, CSS | Designer, Produção Gráfica, Redação de Textos<a href="#">Logomarca</a> deste Site de Leonardo Ribeiro.</li><br>

        <li> Engenharia Eletrônica, Programação em Arduino ( Microcontroladores | Atmega / ESP32 )</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Etapas deste Projeto </h3>
      <ul>
        <li>Este Projeto necessita cumprir os processos programados, abaixo:</li><br>
        <ul>
		<li>https://jogo-da-garra.pages.dev (Jogo da Garra)</li><br>
		<li>https://cronometros.pages.dev ( módulos web para inserir uma Landing Page )</li><br>
		<li>https://chave-privada.pages.dev ( criação de chave privada WIF de Bitcoin )</li><br>
		<li>https://cadeados.pages.dev</li><br>
		<li>https://raspar.pages.dev</li><br>
		<li>https://organos.pages.dev</li><br>
		<li>https://doge-br.pages.dev</li><br>
		<li>https://360graus.pages.dev</li><br>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Custo médio de Projeto : R$ 1.500</h3>
      <ul>
        <li><a href="https://platform.openai.com/docs/api-reference/authentication">API do ChatGPT</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/Django_(framework_web)">FrameWork Django | Python</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/PostgreSQL">Banco de Dados PostgreSQL</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/Python">Linguagem de Programação Python</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Este projeto foi desenvolvido pela euBRASIL | Ricardo Costa / 2023.
  </div>
</div>
{% endblock %}
