{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Servidor : Leonardo Ribeiro</h1>
    <p>Este projeto é a criação de um site de nutrição com inteligência artificial para gerar as dietas personalizadas.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.workana.com/freelancer/8262d11c8b72b829cabab4d72d12b455"><span class="glyphicon glyphicon-flash"></span> Desenvolvedor: Ricardo Costa</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/euBRASIL/Leonardo-Ribeiro"><span class="glyphicon glyphicon-download"></span> Código no Github</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Este projeto está em desenvolvimento por esta razão ainda não possui nenhuma atividade funcional <a href="#" class="alert-link">Aguarde em breve um Site de Dieta "inteligente" </a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> O que é este Projeto ?</h3>
      <ul>
        <li> Este projeto destina-se a ser uma ferramenta de médicos e nutricionistas, na intenção de contruir dietas para os seus pacientes<a href="#">Logomarca</a> deste Site de Leonardo Ribeiro.</li>

        <li> Também a qualquer pessoa que necessite elaborar uma dieta "criada" por uma inteligência artificial rica em detalhes de nutricionismo.</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Etapas deste Projeto </h3>
      <ul>
        <li>Este Projeto necessita cumprir os processos programados, abaixo:</li>
        <ul>
          <li>1. **Coleta de Informações Detalhadas:** O chatbot deve iniciar o processo solicitando informações detalhadas sobre o usuário, como idade, sexo, altura, peso, nível de atividade física, objetivos de saúde, restrições alimentares e condições médicas pré-existentes. Quanto mais informações o chatbot coletar, mais precisa será a dieta gerada.</li>
          <li>2. **Avaliação de Condições de Saúde:** Com base nas informações fornecidas pelo usuário, o chatbot deve ser capaz de avaliar e compreender as condições de saúde específicas, como diabetes, hipertensão, alergias alimentares, intolerâncias, doença celíaca, entre outras. Isso permitirá que a dieta seja personalizada adequadamente.</li>
		  <li>3. **Integração com Profissionais de Saúde:** O chatbot pode oferecer a opção de compartilhar as informações com um profissional de saúde, como um nutricionista ou médico. Esses profissionais podem revisar a dieta gerada automaticamente e fazer ajustes necessários com base em seu conhecimento especializado.</li>
		  <li>4. **Algoritmos de Recomendação Inteligente:** Através de algoritmos sofisticados, o chatbot pode usar as informações coletadas para gerar uma dieta inicial. Esses algoritmos devem levar em consideração as necessidades calóricas individuais, proporções de macronutrientes (proteínas, carboidratos, gorduras), micronutrientes essenciais e restrições específicas.</li>
		  <li>5. **Personalização Gradual:** A dieta inicial gerada pelo chatbot pode ser usada como ponto de partida. Com o tempo, o chatbot pode acompanhar o progresso do usuário e ajustar a dieta com base nos resultados alcançados e nas preferências alimentares.</li>
		  <li>6. **Educação e Orientação:** Além de fornecer a dieta, o chatbot pode oferecer informações educacionais sobre escolhas alimentares saudáveis, porções adequadas e dicas para manter um estilo de vida equilibrado.</li>
		  <li>7. **Feedback Contínuo:** O chatbot pode incentivar os usuários a fornecer feedback regular sobre a dieta, incluindo como eles se sentem, quaisquer problemas ou desconfortos experimentados e quaisquer alterações em suas condições de saúde. Isso ajudará a refinar a dieta ao longo do tempo.</li>
		  <li>8. **Atualizações Regulares:** À medida que a pesquisa nutricional avança e novas informações estão disponíveis, o chatbot deve ser atualizado para refletir as últimas orientações dietéticas e informações de saúde.</li>
		  <li>9. **Aviso de Limitações:** O chatbot deve ser transparente sobre suas limitações e não substituir a orientação médica profissional. Sempre deve encorajar os usuários a buscar aconselhamento de um profissional de saúde qualificado antes de fazer mudanças significativas em suas dietas.</li>
		  <li>10. **Monitoramento Contínuo e Melhoria:** A plataforma por trás do chatbot deve monitorar regularmente sua eficácia e precisão, coletando feedback dos usuários e realizando ajustes constantes para melhorar a qualidade das dietas geradas.</li>

          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Custo deste Projeto : R$ 1.200</h3>
      <ul>
        <li><a href="https://platform.openai.com/docs/api-reference/authentication">API do ChatGPT</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/Django_(framework_web)">FrameWork Django | Python</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/PostgreSQL">Banco de Dados PostgreSQL</a></li>
        <li><a href="https://pt.wikipedia.org/wiki/Python">Linguagem de Programação Python</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Este projeto está sendo desenvolvido pela euBRASIL | Ricardo Costa / 2023.
  </div>
</div>
{% endblock %}
